*{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
.clearfix:before,.clearfix:after{
	display: table;
	content: " ";
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}
body{
	background: #f3f5f7;
	height: 3000px;
}
a{
	color:#87898a;
	text-decoration: none;
}
.top{
	height: 100px;
	overflow: hidden;
	
}
.top1{
	
	width: 1100px;
	height: 43px;
	margin:28px auto;
}
.top0{
	float: left;
}
.top img{
	float: left;
}
.top ul{
	float: left;
	height: 40px;
}
.top ul li{
	float: left;
}
.top ul li a{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 700;
	margin-left: 20px;
	padding: 0px 8px;
}
.top ul li a:hover{
	border-bottom: 2px solid #00a4ff;
}
.top .top2{
	width: 300px;
	height: 40px;
	border:1px solid #00a4ff;
	margin-left: 100px;
	float: left;
	
}
.top2 input[type=text]{
	width: 260px;
	height: 40px;
	border:none;
	background: #f3f5f7;
	/*box-sizing:border-box;*/
	float: left;
}
.top2 input[type=submit]{
	border:none;
	width: 40px;
	height: 40px;
	background: #00a4ff url("images/search_06.png") no-repeat center center;
	box-sizing:border-box;
	float: left;
	display: inline-block;

}
.personal{
	
	height: 40px;
	float: left;
	line-height: 40px;
}
.personal a{
	float: left;
	margin-left: 17px;
}
.personal img{
	margin-top: 5px;
}
.banner{
	height: 420px;
	background: #1c036c;
}
.banner1{
	width: 1200px;
	height: 420px;
	background: url("images/banner_03.png");
	margin:0 auto;
	
}

.banner1_left{
	width: 180px;
	height: 420px;
	background: rgba(19,1,75,0.5);
	text-align: left;
	float: left;
}
/*.banner1_left ul{
	display: inline-block;
}*/
.banner1_left ul li a{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	margin-left: 15px;
	color:#d3d1d9;
	

}
.banner1_left ul li span{
	display: inline-block;
	float: right;
	margin: 12px 10px;
	color: #d3d1d9;
	font-family: arial;
}
.banner1_right{
	width: 230px;
	height: 300px;
	background: white;
	float: right;
	margin-top: 50px;
}
.banner1_right ul li{
	width: 230px;
	height: 60px;
	margin-left: -30px;

}
.banner1_right ul:first-child{
	height: 60px;
	padding-top: 15px;
	background: #00a4ff;
	text-align: center;
	box-sizing:border-box;
}
.banner1_right ul li:nth-child(4) a{
	color: #00a4ff;
}
.banner1_right ul h5{
	display: inline-block;
}
.banner1_right ul h4{
	display: inline-block;
}
.banner1_right ul p{
	font-size: 12px;
	margin-left: -30px;
}
.banner-bottom{
	height: 70px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.banner-bottom ul li{
	float: left;
	width: 120px;
	height: 70px;
	margin-left: 30px;
	
}
.banner1_right .but{
	width: 110px;
	height: 30px;
	border: 2px solid #00a4ff;
	color: #00a4ff;
	margin-left: 90px;
}
.banner-bottom a{
	height: 70px;
	width: 120px;
	color: #050505;
	line-height: 70px;
	padding-right: 50px;
	border-right: 2px solid #bfbfbf;
}
.banner-bottom ul li:first-child a{
	color: #00a4ff;
}
.product{
	width: 1200px;
	height: 630px;
	margin:0 auto;
}
.product_top{
	height: 80px;
	color: #494949;
}
.product_top span{
	margin-top: 37px;
	float: left;
	font-size: 16px;
	
}
.product_top a{
	margin-top: 40px;
	float: right;
	font-size: 12px;

}
.product_main{
	width: 1200px;
	height: 560px;
	float: left;
	
}
.product_main ul{
	width: 230px;
	height: 270px;
	background: #fff;
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}
.product_main ul:nth-child(5n){
	margin-right: 0;
}
.product_main ul h4{
	height: 55px;
}
.product_main ul span{
	display: inline-block;
	color: red;
}
.product_main ul p{
	display: inline-block;
}
.footer{
	height: 270px;
	background:#fff;
	margin-top: 20px;
}
.footer_in{
	width: 1200px;
	height: 270px;
	margin:0 auto;
}
.footer_main{
	width: 500px;
	height: 270px;
	float: left;
}
.footer_main ul li{
	height: 75px;
/*	margin:20px;*/
}
.footer_main ul li img{
	margin: 20px;
}
.footer_main ul li p{
	margin:20px;
	font-size: 14px;
}
.footer_main ul li a{
	display: inline-block;
	margin-left:20px;
	width: 150px;
	height: 30px;
	line-height: 30px;
	border:1px solid #00a4ff;
	color: #00a4ff;
	text-align: center;
}
.footer_in .footer_r{
	width: 600px;
	height: 270px;
	float: right;	
}
.footer_in ul{
	float: left;
	margin-right: 103px;
}
.footer_r ul li{
	height: 25px;
}
.footer_r ul li:first-child{
	font-size: 18px;
	height: 29px;
}
